{{- with resources.Get "css/echo-palette.css" | minify | fingerprint -}}
<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}">
{{- end -}}
{{- if .Params.echoArticle -}}
{{- with resources.Get "css/echo-article.css" | minify | fingerprint -}}
<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}">
{{- end -}}
{{- end -}}

{{- if .Params.echoFigureCaptions -}}
{{- with resources.Get "css/echo-figures.css" | minify | fingerprint -}}
<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}">
{{- end -}}
{{- end -}}
